<h2>Mes articles</h2>
<table class="table table-bordered  table-sm" style="text-align: center">
  <thead class="thead-dark">
    <tr>
      <th scope = "col" class="col-1">Nom</th>
      <th scope = "col" class="col-1">Emplacement</th>
      <th scope = "col" class="col-1" >Quantité</th>
      <th scope = "col" class="col-1" ></th>
    </tr>
  </thead>
  <tbody *ngFor="let article of articles; let i=index" >
    <tr >
      <td  >{{article.nom}}</td>
      <td > {{article.emplacement}} </td>
      <td > {{article.qte}} </td>
      <td >
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary" (click)="modifyArticle(i)" >Détails</button>
          <button type="button" class="btn btn-primary" (click)="rmArticle(i)" >Supprimer</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>



